@using FluentBootstrap
@using WEBAPP.Helper
@using DataAccess.Users
@using UtilityLib

@model DashboardCountSummaryModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

@section stylesheet{
    <style>
        .btn-primary, .btn-primary:focus {
            background-color: #003c72 !important;
            border-color: #003c72;
        }

        .page-content {
            background-color: #fff;
            position: relative;
            margin: 0;
            padding-left: 0px;
            padding-right: 0px;
        }

        .ash {
            color: #9f9f9f;
        }
    </style>
    <link href="@Url.Content("~/Content/Chart.min.css")" rel="stylesheet" />
}
@*<div style="background-image:url('@Url.Content("~/Uploads/Image/pagenotfound.png")');background-repeat: no-repeat; background-position-x: center; background-color:white; width:100%; height:440px; ">*@
@*@foreach (var item in SessionHelper.DashboardCountSummary)
    {
       <div class="widget-main" style="background-color: #97F5E0 !important; border-color: #AE97F5 !important;">
           <div class="row">
               <div class="col-md-12">
                   <div class="h2" id="Total" style="position: relative; bottom: 12px; color: #000000;">ประจำเดือน @item.DATENAME</div>
                   <div class="row">
                       <div class="col-md-2">
                           <div class="panel panel-primary" style="border-color: #0000ff !important; background-color: #0000ff !important; border-color:#0000ff !important;" id="Panel_Total">
                               <div class="panel-heading" style="background-color: #0000ff !important; height: 65px;  border-color:#0000ff !important;">
                                   <div class="row">
                                       <div class="col-xs-3">
                                           <i class="fa fa-tasks fa-3x" style="position: relative; bottom: -4px;"></i>
                                       </div>
                                       <div class="col-xs-9 text-right">
                                           <div class="h2" id="Total" style="position: relative; bottom: 12px; color: #000000;">@item.ALL_ISSUE</div>
                                       </div>
                                   </div>
                               </div>
                               <a href="javascript:void(0)">
                                   <div class="panel-footer" style="color: #000000 !important;">
                                       <span class="pull-left">All Issue</span>
                                       <span class="pull-right"><i class="glyphicon glyphicon-filter"></i></span>
                                       <div class="clearfix"></div>
                                   </div>
                               </a>
                           </div>
                       </div>
                       <div class="col-md-2">
                           <div class="panel panel-primary" style="border-color: #FF5733 !important; background-color: #FF5733 !important; border-color:#FF5733 !important;" id="Panel_Complete">
                               <div class="panel-heading" style="background-color: #FF5733 !important; height: 65px;  border-color:#FF5733 !important;">
                                   <div class="row">
                                       <div class="col-xs-3">
                                           <i class="fa fa-tasks fa-3x" style="position: relative; bottom: -4px;"></i>
                                       </div>
                                       <div class="col-xs-9 text-right">
                                           <div class="h2" id="Complete" style="position: relative; bottom: 12px; color: #000000;">@item.S_OPENING</div>
                                       </div>
                                   </div>
                               </div>
                               <a href="javascript:void(0)">
                                   <div class="panel-footer" style="color: #000000 !important;">
                                       <span class="pull-left">Status Opening</span>
                                       <span class="pull-right"><i class="glyphicon glyphicon-filter"></i></span>
                                       <div class="clearfix"></div>
                                   </div>
                               </a>
                           </div>
                       </div>
                       <div class="col-md-2">
                           <div class="panel panel-primary" style="border-color: #FFBE33 !important; background-color: #FFBE33 !important; border-color:#FFBE33 !important;" id="Panel_Incomplete">
                               <div class="panel-heading" style="background-color: #FFBE33 !important; height: 65px;  border-color:#FFBE33 !important;">
                                   <div class="row">
                                       <div class="col-xs-3">
                                           <i class="fa fa-tasks fa-3x" style="position: relative; bottom: -4px;"></i>
                                       </div>
                                       <div class="col-xs-9 text-right">
                                           <div class="h2" id="Incomplete" style="position: relative; bottom: 12px; color: #000000;">@item.S_ON_PROCESS</div>
                                       </div>
                                   </div>
                               </div>
                               <a href="javascript:void(0)">
                                   <div class="panel-footer" style="color: #000000 !important;">
                                       <span class="pull-left">Status On Process</span>
                                       <span class="pull-right"><i class="glyphicon glyphicon-filter"></i></span>
                                       <div class="clearfix"></div>
                                   </div>
                               </a>
                           </div>
                       </div>
                       <div class="col-md-2">
                           <div class="panel panel-primary" style="border-color: #FFF833 !important; background-color: #FFF833 !important; border-color:#FFF833 !important;" id="Panel_Incomplete">
                               <div class="panel-heading" style="background-color: #FFF833 !important; height: 65px;  border-color:#FFF833 !important;">
                                   <div class="row">
                                       <div class="col-xs-3">
                                           <i class="fa fa-tasks fa-3x" style="position: relative; bottom: -4px;"></i>
                                       </div>
                                       <div class="col-xs-9 text-right">
                                           <div class="h2" id="Incomplete" style="position: relative; bottom: 12px; color: #000000;">@item.S_FOLLOW_UP</div>
                                       </div>
                                   </div>
                               </div>
                               <a href="javascript:void(0)">
                                   <div class="panel-footer" style="color: #000000 !important;">
                                       <span class="pull-left">Status Follow Up</span>
                                       <span class="pull-right"><i class="glyphicon glyphicon-filter"></i></span>
                                       <div class="clearfix"></div>
                                   </div>
                               </a>
                           </div>
                       </div>
                       <div class="col-md-2">
                           <div class="panel panel-primary" style="border-color: #DBFF33 !important; background-color: #DBFF33 !important; border-color:#DBFF33 !important;" id="Panel_Incomplete">
                               <div class="panel-heading" style="background-color: #DBFF33 !important; height: 65px;  border-color:#DBFF33 !important;">
                                   <div class="row">
                                       <div class="col-xs-3">
                                           <i class="fa fa-tasks fa-3x" style="position: relative; bottom: -4px;"></i>
                                       </div>
                                       <div class="col-xs-9 text-right">
                                           <div class="h2" id="Incomplete" style="position: relative; bottom: 12px; color: #000000;">@item.S_GO_LIVE</div>
                                       </div>
                                   </div>
                               </div>
                               <a href="javascript:void(0)">
                                   <div class="panel-footer" style="color: #000000 !important;">
                                       <span class="pull-left">Status Go Live</span>
                                       <span class="pull-right"><i class="glyphicon glyphicon-filter"></i></span>
                                       <div class="clearfix"></div>
                                   </div>
                               </a>
                           </div>
                       </div>
                       <div class="col-md-2">
                           <div class="panel panel-primary" style="border-color: #84FF33 !important; background-color: #84FF33 !important; border-color:#84FF33 !important;" id="Panel_Incomplete">
                               <div class="panel-heading" style="background-color: #84FF33 !important; height: 65px;  border-color:#84FF33 !important;">
                                   <div class="row">
                                       <div class="col-xs-3">
                                           <i class="fa fa-tasks fa-3x" style="position: relative; bottom: -4px;"></i>
                                       </div>
                                       <div class="col-xs-9 text-right">
                                           <div class="h2" id="Incomplete" style="position: relative; bottom: 12px; color: #000000;">@item.S_CLOSE</div>
                                       </div>
                                   </div>
                               </div>
                               <a href="javascript:void(0)">
                                   <div class="panel-footer" style="color: #000000 !important;">
                                       <span class="pull-left">Status Close</span>
                                       <span class="pull-right"><i class="glyphicon glyphicon-filter"></i></span>
                                       <div class="clearfix"></div>
                                   </div>
                               </a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

           <br>

           <div class="row">
               <div class="col-md-12">
                   <div class="row">
                       <div class="col-md-3">
                           <center>
                               <div class="easy-pie-chart percentage" data-percent="@item.CRITICAL" data-color="#FF002E">
                                   <span class="percent" style="color: #000000 !important;">@item.CRITICAL%</span>
                               </div>
                               <h6 class="widget-title">
                                   Critical
                               </h6>
                           </center>
                       </div>
                       <div class="col-md-3">
                           <center>
                               <div class="easy-pie-chart percentage" data-percent="@item.HIGH" data-color="#FF8700">
                                   <span class="percent" style="color: #000000 !important;">@item.HIGH%</span>
                               </div>
                               <h6 class="widget-title">
                                   High
                               </h6>
                           </center>
                       </div>
                       <div class="col-md-3">
                           <center>
                               <div class="easy-pie-chart percentage" data-percent="@item.MEDIUM" data-color="#FFCC00">
                                   <span class="percent" style="color: #000000 !important;">@item.MEDIUM%</span>
                               </div>
                               <h6 class="widget-title">
                                   Medium
                               </h6>
                           </center>
                       </div>
                       <div class="col-md-3">
                           <center>
                               <div class="easy-pie-chart percentage" data-percent="@item.LOW" data-color="#00FF89">
                                   <span class="percent" style="color: #000000 !important;">@item.LOW%</span>
                               </div>
                               <h6 class="widget-title">
                                   Low
                               </h6>
                           </center>
                       </div>
                   </div>
               </div>
           </div>

           <br><br>
           <div class="row">
               <div class="col-md-12">
                   <div class="row">
                       <div class="col-md-3">
                           <div class="panel panel-primary" style="border-color: #F344DE !important; background-color: #F344DE !important; border-color:#F344DE !important;" id="Panel_Total">
                               <div class="panel-heading" style="background-color: #F344DE !important; height: 65px;  border-color:#F344DE !important;">
                                   <div class="row">
                                       <div class="col-xs-3">
                                           <i class="fa fa-info fa-3x" style="position: relative; bottom: -4px;"></i>
                                       </div>
                                       <div class="col-xs-9 text-right">
                                           <div class="h2" id="Total" style="position: relative; bottom: 12px; color: #000000;">@item.RESPONSE_TIME_OUT</div>
                                       </div>
                                   </div>
                               </div>
                               <a href="javascript:void(0)">
                                   <div class="panel-footer" style="color: #000000 !important;">
                                       <span class="pull-left">Response Target Time Out</span>
                                       <span class="pull-right"><i class="glyphicon glyphicon-filter"></i></span>
                                       <div class="clearfix"></div>
                                   </div>
                               </a>
                           </div>
                       </div>
                       <div class="col-md-3">
                           <div class="panel panel-primary" style="border-color: #44ECF3 !important; background-color: #44ECF3 !important; border-color:#44ECF3 !important;" id="Panel_Total">
                               <div class="panel-heading" style="background-color: #44ECF3 !important; height: 65px;  border-color:#44ECF3 !important;">
                                   <div class="row">
                                       <div class="col-xs-3">
                                           <i class="fa fa-info fa-3x" style="position: relative; bottom: -4px;"></i>
                                       </div>
                                       <div class="col-xs-9 text-right">
                                           <div class="h2" id="Total" style="position: relative; bottom: 12px; color: #000000;">@item.RESOLUTION_TIME_OUT</div>
                                       </div>
                                   </div>
                               </div>
                               <a href="javascript:void(0)">
                                   <div class="panel-footer" style="color: #000000 !important;">
                                       <span class="pull-left">Resolution Target Time Out</span>
                                       <span class="pull-right"><i class="glyphicon glyphicon-filter"></i></span>
                                       <div class="clearfix"></div>
                                   </div>
                               </a>
                           </div>
                       </div>
                       <div class="col-md-3">
                           <div class="panel panel-primary" style="border-color: #7C44F3 !important; background-color: #7C44F3 !important; border-color:#7C44F3 !important;" id="Panel_Total">
                               <div class="panel-heading" style="background-color: #7C44F3 !important; height: 65px;  border-color:#7C44F3 !important;">
                                   <div class="row">
                                       <div class="col-xs-3">
                                           <i class="fa fa-info fa-3x" style="position: relative; bottom: -4px;"></i>
                                       </div>
                                       <div class="col-xs-9 text-right">
                                           <div class="h2" id="Total" style="position: relative; bottom: 12px; color: #000000;">@item.CLOSE_BEFOR_TARGET</div>
                                       </div>
                                   </div>
                               </div>
                               <a href="javascript:void(0)">
                                   <div class="panel-footer" style="color: #000000 !important;">
                                       <span class="pull-left">Close Befor Target Date</span>
                                       <span class="pull-right"><i class="glyphicon glyphicon-filter"></i></span>
                                       <div class="clearfix"></div>
                                   </div>
                               </a>
                           </div>
                       </div>
                       <div class="col-md-3">
                           <div class="panel panel-primary" style="border-color: #F51D44 !important; background-color: #F51D44 !important; border-color:#F51D44 !important;" id="Panel_Total">
                               <div class="panel-heading" style="background-color: #F51D44 !important; height: 65px;  border-color:#F51D44 !important;">
                                   <div class="row">
                                       <div class="col-xs-3">
                                           <i class="fa fa-info fa-3x" style="position: relative; bottom: -4px;"></i>
                                       </div>
                                       <div class="col-xs-9 text-right">
                                           <div class="h2" id="Total" style="position: relative; bottom: 12px; color: #000000;">@item.CLOSE_AFTER_TARGET</div>
                                       </div>
                                   </div>
                               </div>
                               <a href="javascript:void(0)">
                                   <div class="panel-footer" style="color: #000000 !important;">
                                       <span class="pull-left">Close After Target Date</span>
                                       <span class="pull-right"><i class="glyphicon glyphicon-filter"></i></span>
                                       <div class="clearfix"></div>
                                   </div>
                               </a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    }*@
@*string*@
@*-------------------------------------------------------------------------------------------------*@
@foreach (var item in SessionHelper.DashboardCountSummary)
{
    <div class="widget-main" style="background-color: #97F5E0 !important; border-color: #AE97F5 !important;">
        <div class="row">
            <div class="col-md-12">
                <div class="h2" id="Total" style="position: relative; bottom: 12px; color: #000000;">ประจำเดือน @item.DATENAME</div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="panel panel-primary" style="border-color: #0000ff !important; background-color: #0000ff !important; border-color:#0000ff !important;" id="Panel_Total">
                            <div class="panel-heading" style="background-color: #0000ff !important; height: 65px;  border-color:#0000ff !important;">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-3x" style="position: relative; bottom: -4px;"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="h2" id="Total" style="position: relative; bottom: 12px; color: #000000;">@item.ALL_ISSUE</div>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0)">
                                <div class="panel-footer" style="color: #000000 !important;">
                                    <span class="pull-left">All Issue</span>
                                    <span class="pull-right"><i class="glyphicon glyphicon-filter"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="panel panel-primary" style="border-color: #FF5733 !important; background-color: #FF5733 !important; border-color:#FF5733 !important;" id="Panel_Complete">
                            <div class="panel-heading" style="background-color: #FF5733 !important; height: 65px;  border-color:#FF5733 !important;">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-3x" style="position: relative; bottom: -4px;"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="h2" id="Complete" style="position: relative; bottom: 12px; color: #000000;">@item.S_OPENING</div>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0)">
                                <div class="panel-footer" style="color: #000000 !important;">
                                    <span class="pull-left">Status Opening</span>
                                    <span class="pull-right"><i class="glyphicon glyphicon-filter"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="panel panel-primary" style="border-color: #FFBE33 !important; background-color: #FFBE33 !important; border-color:#FFBE33 !important;" id="Panel_Incomplete">
                            <div class="panel-heading" style="background-color: #FFBE33 !important; height: 65px;  border-color:#FFBE33 !important;">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-3x" style="position: relative; bottom: -4px;"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="h2" id="Incomplete" style="position: relative; bottom: 12px; color: #000000;">@item.S_ON_PROCESS</div>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0)">
                                <div class="panel-footer" style="color: #000000 !important;">
                                    <span class="pull-left">Status On Process</span>
                                    <span class="pull-right"><i class="glyphicon glyphicon-filter"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="panel panel-primary" style="border-color: #FFF833 !important; background-color: #FFF833 !important; border-color:#FFF833 !important;" id="Panel_Incomplete">
                            <div class="panel-heading" style="background-color: #FFF833 !important; height: 65px;  border-color:#FFF833 !important;">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-3x" style="position: relative; bottom: -4px;"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="h2" id="Incomplete" style="position: relative; bottom: 12px; color: #000000;">@item.S_FOLLOW_UP</div>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0)">
                                <div class="panel-footer" style="color: #000000 !important;">
                                    <span class="pull-left">Status Follow Up</span>
                                    <span class="pull-right"><i class="glyphicon glyphicon-filter"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="panel panel-primary" style="border-color: #DBFF33 !important; background-color: #DBFF33 !important; border-color:#DBFF33 !important;" id="Panel_Incomplete">
                            <div class="panel-heading" style="background-color: #DBFF33 !important; height: 65px;  border-color:#DBFF33 !important;">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-3x" style="position: relative; bottom: -4px;"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="h2" id="Incomplete" style="position: relative; bottom: 12px; color: #000000;">@item.S_GO_LIVE</div>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0)">
                                <div class="panel-footer" style="color: #000000 !important;">
                                    <span class="pull-left">Status Go Live</span>
                                    <span class="pull-right"><i class="glyphicon glyphicon-filter"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="panel panel-primary" style="border-color: #84FF33 !important; background-color: #84FF33 !important; border-color:#84FF33 !important;" id="Panel_Incomplete">
                            <div class="panel-heading" style="background-color: #84FF33 !important; height: 65px;  border-color:#84FF33 !important;">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-3x" style="position: relative; bottom: -4px;"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="h2" id="Incomplete" style="position: relative; bottom: 12px; color: #000000;">@item.S_CLOSE</div>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0)">
                                <div class="panel-footer" style="color: #000000 !important;">
                                    <span class="pull-left">Status Close</span>
                                    <span class="pull-right"><i class="glyphicon glyphicon-filter"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <canvas id="PriolityChart"></canvas>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">
                    <center>
                        <div class="easy-pie-chart percentage" data-percent="@item.RESPONSE_TIME_OUT" data-color="#FF002E">
                            <span class="percent" style="color: #000000 !important;">@item.RESPONSE_TIME_OUT%</span>
                        </div>
                        <h6 class="widget-title">
                            Response Target Time Out
                        </h6>
                    </center>
                </div>
                <div class="col-md-3">
                    <center>
                        <div class="easy-pie-chart percentage" data-percent="@item.RESOLUTION_TIME_OUT" data-color="#FF8700">
                            <span class="percent" style="color: #000000 !important;">@item.RESOLUTION_TIME_OUT%</span>
                        </div>
                        <h6 class="widget-title">
                            Resolution Target Time Out
                        </h6>
                    </center>
                </div>
                <div class="col-md-3">
                    <center>
                        <div class="easy-pie-chart percentage" data-percent="@item.CLOSE_BEFOR_TARGET" data-color="#FFCC00">
                            <span class="percent" style="color: #000000 !important;">@item.CLOSE_BEFOR_TARGET%</span>
                        </div>
                        <h6 class="widget-title">
                            Befor Target Date
                        </h6>
                    </center>
                </div>
                <div class="col-md-3">
                    <center>
                        <div class="easy-pie-chart percentage" data-percent="@item.CLOSE_AFTER_TARGET" data-color="#00FF89">
                            <span class="percent" style="color: #000000 !important;">@item.CLOSE_AFTER_TARGET%</span>
                        </div>
                        <h6 class="widget-title">
                            After Target Date
                        </h6>
                    </center>
                </div>
            </div>
        </div>

    </div>

}
@*-------------------------------------------------------------------------------------------------*@
<br>
    @*<div class="widget-main" style="background-color: #97F5E0 !important; border-color: #AE97F5 !important;">
        <div class="row">
            <div class="col-md-12">
                <canvas id="PriolityChart"></canvas>
            </div>
        </div>
    </div>*@
    @*end*@
    @section Scripts {
        <script type="text/javascript" src="@Url.Content("~/Scripts/Chart.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Chart.bundle.min.js")"></script>
        <script>
            $(document).ready(function () {
                $.ajax({
                    url: '@Url.Action("Dashboard", "Account", new { Area = "Users"})',
                    type: 'post',
                    data: null,
                    contentType: false,
                    processData: false,
                    success: function (Dashboard) {
                        if (Dashboard != null && Dashboard != isNullOrEmpty) {
                            //PriolityChart
                            var ctx = document.getElementById('PriolityChart').getContext('2d');
                            var chart = new Chart(ctx, {
                                // The type of chart we want to create
                                type: 'line',

                                // The data for our dataset
                                data: {
                                    labels: ['Critical', 'High', 'Medium', 'Low'],
                                    datasets: [{
                                        label: 'Count Priolity',
                                        backgroundColor: 'rgb(255, 99, 132)',
                                        borderColor: 'rgb(255, 99, 132)',
                                        data: [Dashboard.data.CRITICAL, Dashboard.data.HIGH, Dashboard.data.MEDIUM, Dashboard.data.LOW]
                                    }]
                                },

                                // Configuration options go here
                                options: {}
                            });
                        }
                    },
                    error: OnAjaxError
                });
            });

        </script>
    }
